.homeLogo{
  transform: translateY(-40%);
  opacity: 0;
  animation: logoFadeinHome 1s ease-in 4s both;
}

.logo path{
  stroke: #232323;
  stroke-dasharray: 2000px;
  stroke-dashoffset: 2000px;
  stroke-width: 2px;
}

.logo:hover path{  
  animation: svgLogoAnimation 2.2s ease-in;
}

@keyframes svgLogoAnimation {
  0% {
    fill: transparent;
  }
  40%{
    stroke-dashoffset: 0;
  }
  65%{
    stroke: #232323;

  }
  80%{
    fill: transparent;
  }
  100%{
    stroke: transparent;
  }
}


@keyframes logoFadeinHome {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}