body {
  font-family: proxima-nova, source-han-sans-japanese, sans-serif!important;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01em;
}

.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.w-max-top-card{
  max-width: 1800px;
}


#TopLogoSVG path {
  stroke: #232323;
  stroke-width: 2px;
  animation: svgLogoAnimation 2.2s ease-in 1s both;
}
@keyframes svgLogoAnimation {
  0% {
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
    fill: transparent;
  }
  40%{
    stroke-dashoffset: 0;
  }
  80%{
    stroke: #232323;

  }
  90%{
    fill: transparent;
  }
  100%{
    stroke: transparent;
  }
}